<!-- Hero section -->
<section id="hero" class="bg-light py-5 position-relative"
    style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); background-size: cover; background-position: center;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-7">
                <h1 class="display-4 text-light">Bienvenido a mi portafolio</h1>
                <p class="lead text-light">Soy un apasionado de la tecnología y el desarrollo web y tengo experiencia en
                    diversas plataformas y lenguajes de programación.</p>
            </div>
            <div class="col-lg-5">
                <img src="https://pbs.twimg.com/profile_images/1482154800758329348/wyECJ3UQ_400x400.jpg"
                    alt="José Manuel Cornelio" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>


<!-- Otro contenido de tu SPA -->

<!-- Sección de introducción -->
<section id="introduction" class="bg-light py-5">
    <div class="container">
        <h2 class="mb-4">Sobre mí</h2>
        <p>Hola, mi nombre es José Manuel Cornelio y soy un desarrollador web autodidacta con experiencia en tecnologías
            como HTML, CSS, JavaScript y PHP. He trabajado en proyectos que me han permitido aplicar mis conocimientos y
            habilidades para resolver problemas y crear soluciones útiles y atractivas. Además, tengo experiencia en el
            uso de
            plataformas de gestión de contenidos como Wordpress.</p>
    </div>
</section>

<app-projects-section></app-projects-section>

<!-- Sección de contacto -->
<section id="contact" class="bg-dark py-5 text-light">
    <div class="container">
        <h2 class="mb-4">Contáctame</h2>
        <p>Si tienes alguna pregunta o quieres trabajar conmigo en algún proyecto, no dudes en ponerte en contacto
            conmigo a
            través de los siguientes medios:</p>
        <ul>
            <li>Teléfono: 809-431-0778</li>
            <li>Correo electrónico: <a href="mailto:cornelio@proton.me" class="text-light">cornelio@proton.me</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/corneliodev/" target="_blank"
                    class="text-light">CornelioDev</a></li>
        </ul>
    </div>
</section>